.button {
    border-radius: 32px;
    color: white;
    display: flex;
    font-family: NationalBold, sans-serif;
    font-weight: bold;
    margin: 0.5em;
    max-width: 100%;
    min-height: 3em;
    overflow: hidden;
    padding: 0.8em 2em;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    text-overflow: ellipsis;
    transition: 0.3s;
    vertical-align: middle;
    white-space: nowrap;
}